VITE_SIGNALING_SERVER_URL=SOME_URL

# Initial Negotiation (general)
VITE_PROTOCOL_VERSION=SOME_INTEGER
VITE_SIGNALING_CLIENT_VERSION=SOME_INTEGER
VITE_SIGNALING_CLIENT_NAME=SOME_STRING
VITE_SIGNALING_CLIENT_PLATFORM=SOME_STRING
VITE_SIGNALING_CLIENT_SUPPORT_RESUME=SOME_BOOLEAN
VITE_SIGNALING_CLIENT_SUPPORT_CHUNK_ACK=SOME_BOOLEAN

# Reliable Transport
VITE_ACK_TIMEOUT=SOME_INTEGER
VITE_RETRY_CHECK_INTERVAL=SOME_INTEGER
VITE_MAX_RETRIES=SOME_INTEGER
VITE_MAX_RETRY_DELAY=SOME_INTEGER
VITE_MAX_PENDING_MESSAGES=SOME_INTEGER

# Transfer Manager Transport
VITE_SEND_RETRY_DELAY=SOME_INTEGER

# OPFS Sink
VITE_BUFFER_THRESHOLD_MIN_BYTES=SOME_INTEGER
VITE_BUFFER_THRESHOLD_MAX_BYTES=SOME_INTEGER
VITE_BUFFER_THRESHOLD_MIN_TIME_MS=SOME_INTEGER
VITE_BUFFER_THRESHOLD_MAX_TIME_MS=SOME_INTEGER
VITE_ASSUMED_MIN_THROUGHPUT=SOME_INTEGER
VITE_FLUSH_THRESHOLD_PERCENTAGE_OF_FILE_SIZE=SOME_FLOAT
VITE_FLUSH_CYCLES_OF_BACKLOG=SOME_INTEGER